/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap");

/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Generic project styles */
  color: #3a3a3a;
  font-family: "Lato", sans-serif;
}

h1, h2, h3 {
  font-family: "oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #252525;
}

.hidden-heading {
  display: none;
}

/* Header */
header {
  background-color: #ffffff;
  padding: 0 1rem;
  position: fixed; /* This is to fix the title while scrolling */
  z-index: 99;
  width: 100%; /* This covers the whole width of the screen */
  box-shadow: 0 2px 2px #3a3a3a;
  display: flex; /* This brings the checkbox to the right of the logo */
  justify-content: space-between;
  align-items: baseline;
}

header a {
  /* remove the line under the title and inherit the parent element text colour */
  text-decoration: none;
  color: inherit;
}

#menu {
  letter-spacing: 4px;
  font-size: 110%;
  list-style-type: none; /* this removes the bullet points from an ul */
}

#menu > li {
  /* this targets all the li items inside the menu */
  margin-bottom: 1em;
}

.active {
  /* this is to highlight the page we're on ie. Home Gallery Sign Up */
  border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 2px #3a3a3a;
  display: none;
  top: 100%; /* this tells the navigation element that the top of the element should start at the    bottom of its parent element */
}

/* Nav toggle */             /* to target the adjoining nav element */
#nav-toggle:checked ~ nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
}

/* Main content */
main {
  /* Make main element take up any surplus space to push footer down */
  flex: 1 0 auto;
  margin-top: 47px;     /* to push the main content down as the header is set to fixed */
}

/* Hero picture section */
#hero {
  height: 600px;
  width: 100%;
  background: url("../images/hero-image.webp") no-repeat center center/cover;
  position: relative;
}

#cover-text {
  /* Final rgba value sets the opacity so it is semi-transparent */
  background-color: rgba(241, 109, 107, 0.7);
  font-size: 130%;
  position: absolute;
  bottom: 30px;
  width: 80%;
  min-height: 200px;
  padding-top: 40px;
  padding-left: 10px;
}

#cover-text > h2, #cover-text > h3 {
  color: #ffffff;
}

/* Reasons section */
#reasons {
  width: 90%;
  margin: 20px auto;  
}

#reasons h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 280%;
}

#benefits-physical > div, #benefits-mental > div {
    line-height: 20px;
    margin-bottom: 20px;
}

#benefits p {
  padding-left: 20px;
  padding-right: 20px;
}

#benefits hr {
  border-top: 1px solid #3a3a3a;
  margin: 5px 0;
}

#circle-cover-bg {
  background: url("../images/Reasons-image.webp") no-repeat top center/cover;
  height: 90vw;
  width: 90vw;
  margin-bottom: 20px;
  border-radius: 50%;
  max-width: 300px;
  max-height: 300px;
}

#benefits-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Meet-up Times Section */
#times {
  background: url(../images/dublin-city.webp) no-repeat center/cover;
  /* Handles responsivity without the need for a media query */
  display: flex;
  flex-wrap: wrap;
}

#times div {
  color: #fafafa;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  text-align: center;
  /* This will not wrap on screens of less that 400px wide.
  Each div will expand to fill the available space on its row */
  flex-basis: 200px;
  flex-grow: 1;
  border: 2px solid white;
}

/* Overrides the heading colour set in general styles on line 23 */
#times h3 {
  color: #fafafa;
}

/* Gallery Page */
#photos img {
  width: 100%;
  line-height: 1em;
}

#photos {
  line-height: 0;
}

/* Footer */
#social-networks {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: #3a3a3a;
}


/* Media query: large or landscape phone (576px and up) */
@media screen and (min-width: 576px) {
  #photos {
    column-count: 2;      /* put pictures in 2 columns */
    column-gap: 0;        /* remove the gap between the pictures */
  }
}

/* Media query: tablets and larger (786px and up) */
/* This is to make the webpage respond differently to mobile, tablet, laptop and pc */
@media screen and (min-width: 768px) {
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }

  #menu {
    display: flex;    /* to make the home gallery and sign up be next to each other and not on top */
  }

  #menu > li {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;      /* removes the X */
  }

  #logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
  }

  /* Main content */
  main {
    /* Push main content down to accommodate larger header */
    margin-top: 79px;
  }

  /* Hero Picture */
  #cover-text {
    width: 300px;
    right: 50px;
  }

  /* Reasons section */
  #benefit-phisical, 
  #benefits-mental {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  #benefit-phisical > div, 
  #benefits-mental > div {
    width: 75%;
  }

  #benefits-mental > div {
    text-align: end;
    align-self: flex-end;
  }

  /* Gallery */
  #photos {
    column-count: 3;
  }
}


/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
  #menu a:hover {
    border-bottom: 1px solid #3a3a3a;
  }

/* Gallery */
  #photos {
    column-count: 4;
  }
}

/* For devices larger than 1200px to put te circular image between the benefits divs */
@media screen and (min-width: 1200px) {
  #benefits {
    display: flex;
    flex-direction: row;
}

#benefits > div {
    flex: 1;
}

#benefits-image {
    order: 0;
}

#benefits-mental {
    order: 1;
}

#benefits-mental > div {
    align-self: flex-start;
}

#benefits-physical > div {
    align-self: flex-end;
}
}